body {
  background-color: #dbfffd;
  text-align: center;
}

a, a:hover, a:visited {
  color: #492e10;
  text-decoration: none;
}

.story {
  background-color: #a9e5e2;
  margin:10%;
}

.story-choices button {
  background-color: transparent;
  color: #492e10;
  border: none;
}
