.editor {
    display: grid;
    grid-template-areas: "leftbar tabs";
    height: 100%;
}

.editor-leftbar {
    grid-area: leftbar;
    background-color: var(--surface);
    color: var(--text-surface);
    border-right: 1px solid black;
    border-top: 1px solid black;
    overflow: hidden;
}

.editor-tabs {
    grid-area: tabs;
}