.hljs-code {
  color: #337f33;
}

.hljs-code-expression {
  color: #333d7f;
}

.hljs-code-comment {
  color: #b5b5b5;
}

.hljs-text {
  color: black;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
