.text-block {
    width: 100%;
    text-align: center;

    >div {
        display: inline-block;
        cursor: pointer;
        padding: 4px;
    }
}

.button-choice {
    width: 100%;
    text-align: center;
    
    &>button {
        border: none;
        cursor: pointer;
        padding: 4px;
        border-radius: 10px;
        min-width: 150px;
    }
}